<h1>Listing applists</h1>

<table>
  <thead>
    <tr>
      <th>Applink</th>
      <th>Appname</th>
      <th>Appdescr</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @applists.each do |applist| %>
      <tr>
        <td><%= applist.applink %></td>
        <td><%= applist.appname %></td>
        <td><%= applist.appdescr %></td>
        <td><%= link_to 'Show', applist %></td>
        <td><%= link_to 'Edit', edit_applist_path(applist) %></td>
        <td><%= link_to 'Destroy', applist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applist', new_applist_path %>
