<p id="notice"><%= notice %></p>

<p>
  <strong>Applink:</strong>
  <%= @applist.applink %>
</p>

<p>
  <strong>Appname:</strong>
  <%= @applist.appname %>
</p>

<p>
  <strong>Appdescr:</strong>
  <%= @applist.appdescr %>
</p>

<%= link_to 'Edit', edit_applist_path(@applist) %> |
<%= link_to 'Back', applists_path %>
